$primary: #2B4865;
$info: #3b6782;
$family-sans-serif: ropa-mix-pro, sans-serif;

@media (prefers-color-scheme: light) {
    .html-background {
        background: hsl(0deg 0% 96%);
    }
    .logo-svg * {
        fill: $primary !important;
        width: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    .logo-svg * {
        fill: #efefef !important;
        width: 100%;
    }
}

@import "bulma/bulma.sass";
@import "bulma-prefers-dark/bulma-prefers-dark.sass"; 

.svg-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    padding: 3.5rem;
}

.mission {
    margin-top: 3.5rem;
}

.officer-image {
    padding: 3rem;
}

$menu-offset: 200px;

@media (min-width: $tablet) {
    #top {
        height: 100vh;
    }
}

@media (max-width: $tablet) {
    #top {
        height: 100%;
    }
}


@keyframes menu-slide-in {
    from {
        transform: translateX($menu-offset);

    }
    to {
        transform: translateX(0);
    }
}

@keyframes menu-slide-out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX($menu-offset);
    }
}

.menu-wrapper {
    transform: translateX($menu-offset);
    z-index: 99;
}

.menu-icon {
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.slide-in {
    animation-name: menu-slide-in;
    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: menu-slide-in;
    animation-fill-mode: forwards;
}

.slide-out {
    animation-name: menu-slide-out;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media (max-width: $tablet) {
    .svg-wrapper {
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .mission {
        margin-top: 0;
    }
    .officer-image {
        padding: 2rem;
    }
}



.area-title {
    padding-top: 1.5rem;
    font-size: 2rem;
}

.area-of-expertise {
    height: 100%; 
    padding: 0.5rem;
    border-radius: 0.25rem; 
    display: flex; 
    flex-direction:column; 
    justify-content: space-between; 
    align-items: center;
}

.area-items {
    display:  flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.area-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 33%;
}